<div class="card-bg">
  <div class="container">
    <div class="card about-margin">
      <div class="card-header">
        <h3>Welcome to Trevista Innovations</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          Headquartered in Hyderabad, Firm name is Trevista Innovations Private Limited. Our products & Solutions are
          focused on innovative business growth for our clientele.
        </p>
        <p class="card-text">
          TREVISTA is providing cutting edge healthcare, e-governance, education & agriculture solutions. Including
          services in technology, consulting and outsourcing which enable our clients to transform, optimise & Innovate.
          Our offerings leverage latest technology in cloud computing, mobility, Big data, rich media and social media to
          provide guaranteed business output.
        </p>
        <aside>
            <img class="img img-responsive" width="300" src="assets/ss6.jpg">
        </aside>
        <p class="card-text">
          We are a Pvt Ltd company and our innovative models & our quality process are a blend of creative & Optimised
          technology. Ours is a fully-fledged and mellowed company propelled by credit & goodwill
          and punctual response, and exclusive technical expertise& ingenuity, in the ever-expanding
           fields of Web Design & Development, Software Development, Online Business Development, e-Commerce, Payment Gateway Solutions, and Search Engine Optimization.
        </p>
      </div>
    </div>
  </div>
</div>

