
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-bar" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#"><img class="img img-fluid bg-inherit" width="30" src="assets/trevista-innov.png"> <img width="100" src="assets/g921.png"></a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link waves-light" [routerLink]="['/']" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link waves-light" [routerLink]="['/services']" mdbWavesEffect><mdb-icon fab icon="servicestack"></mdb-icon> Services<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/about']" mdbWavesEffect><mdb-icon fas icon="users"></mdb-icon> About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
        </li>

        <!-- <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li> -->
      </ul>
    </links>
  </mdb-navbar>
