<div class="card">
  <div class="card-body">
    <div class="pill-list">
      <span class="badge badge-pill badge-primary">Java</span>
      <span class="badge badge-pill badge-primary">.Net</span>
      <span class="badge badge-pill badge-success">Angular</span>
      <span class="badge badge-pill badge-success">React</span>
      <span class="badge badge-pill badge-primary">Php</span>
      <span class="badge badge-pill badge-info">Android</span>
      <span class="badge badge-pill badge-info">IOS</span>
      <span class="badge badge-pill badge-dark">Manual Testing</span>
      <span class="badge badge-pill badge-dark">Selenium</span>
      <span class="badge badge-pill badge-danger">Tableau</span>
    </div>
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/serve-6.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Application Development</h3>
              <p class="card-text">
                We have expertise in Website Designing, Graphics Designing, Website Development,
                App Development, and SEO/SMO/SEM. We differentiate our self by providing customized solutions to clients to optimize and promote their website by ranking high in
                search engines so that it generates more leads that can be converted into business.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/serve-1.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Web Development</h3>
              <p class="card-text">
                Our web development team provides development support for a wide variety of websites ranging from static web pages to complex content management systems and applications.
                Incorporating stringent standards, we build powerful, easy-to-use sites and applications that are customized to requirements.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <img class="card-img-top" src="assets/serve-4.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Mobile Development</h3>
              <p class="card-text">We have expertise team with knowledge on Native and Hybrid application development.
                We provide Android, IOS and Hybrid Mobile solutions. We build responsive mobile applications adaptabile with all
                devices/screens including tablets</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/serve-5.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Business Intelligence</h3>
              <p class="card-text">The Business Intelligence (BI) delivers Business Intelligence (BI)
                capabilities, which play a key role in strategic planning and allow the organisation to gather,
                store, access and analyse business data to inform decision-making. We have a good understanding of established concepts and procedures in ensuring your business receives a great information service that is central to your commercial decision making and growing the reliability and creativity of BI s solutions and services. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/serve-2.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Testing</h3>
              <p class="card-text">We ensure your product hit the market with superior quality!
                We are specializing in setting up end-to-end software test process and methodology to ensure
                highest level of test solution delivered to achieve customer satisfaction. We bring effective combination of process
                and technology that ensures high quality standards for your products.
                Our expertise covers manual testing and automated testing using all major automation tools.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/serve-3.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Artificial Intelligence</h3>
              <p class="card-text">Provided Soon..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
